<div class="container">
  <h2 class="text-center">このLessonの受講中ユーザー</h2>
  
  <% @attendance.each do |attendance| %>
    <% @user_id = attendance.user_id %>
    <% user = User.find(@user_id) %>
    <li class="media">
          <img src="" alt="">
          <div  class="media-body">
            <div>
              <%= user.name %>
            </div>
            <div>
              <p><%= link_to 'profile', user_path(user) %></p>
            </div>
          </div>
        </li>
  <% end %>
</div>
