<div class="container ">
  <h1 class="text-center">Profileの編集</h1>

  <%= render "users/form", user: @user  %>

  <div class="text-center">
    <%= link_to 'Profileに戻る', user_path(@user), class: 'btn btn-lg btn-primary' %>
  </div>
</div>