<div class="container ">
  <h1 class="text-center">ユーザーの一覧</h1>

    <%= render "users/users", users: @users %>

  <div class="text-center">
    <%= link_to 'Profileに戻る', users_path(@user), class: 'btn btn-lg btn-primary' %>
  </div>
</div>