<div class="text-center mt-4">
  <h1 class="display-3 font-weight-bold">Postten<br> Dance</h1>
  <p class="lead">ダンスレッスン投稿サービス</p>
  <h1 class="mt-5 font-weight-bold">新規登録</h1>
</div>

<%= render "users/form", user: @user  %>