<div>
  <aside>
    <div>
      <div>
        <h3><%= @user.name %></h3>
      </div>
      <div>
        <img src="" alt="">
      </div>
      <%= link_to 'Lesson作成', new_lesson_path %>
      <%= link_to 'Lessonを受講', lessons_path %>
    </div>
  </aside>
  
</div>