<% unless logged_in? %>
    <div class="center jumbotron">
        <div class="text-center">
            <h1>Postten<br> Dance</h1>
            <h6>ダンスレッスン投稿サービス</h6>
            <%= link_to 'Sign in', signup_path, class: 'btn btn-lg btn-primary' %>
            <%= link_to 'Login', login_path, class: 'btn btn-lg btn-primary' %>
        </div>
    </div>
<div>
    <div class="text-center">
        <p>Postten Danceとは</p>
        <p>ダンスに特化したオンラインレッスンサービスです</p>
    </div>
    <div>
        <h3>Lessonを作成</h3>
        <p>自分で考えたオリジナルのダンスレッスンを作成し、投稿します。</p>
    </div>
    <div>
        <h3>Lessonを受講</h3>
        <p>様々なダンサーが作成したオリジナルのダンスレッスンを受講できます。様々なダンサーの練習方法、体の使い方などを学べます。</p>
    </div>
    <%= link_to 'Sign in', signup_path, class: 'btn btn-lg btn-primary' %>
</div>
    
<% end %>
