<header>
  <nav>
    <a href="/">Postten Dance</a>
    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span></span>
    </button>

    <div>
      <ul>
        <li class="nav-item"><%= link_to 'Signup', signup_path, class: 'nav-link' %></li>
        <li><a href="#">Login</a></li>
      </ul>
    </div>
  </nav>
</header>